<footer class="footer">
    <div class="container">
        <div class="footer__position">
            <div class="footer__point">
                <ul class="footer__point-list">
                    <li class="footer__point-list__item">
                        <a href="#">Пункт 01</a>
                    </li>
                    <li class="footer__point-list__item">
                        <a href="#">Пункт 02</a>
                    </li>
                    <li class="footer__point-list__item">
                        <a href="#">Пункт 03</a>
                    </li>
                    <li class="footer__point-list__item">
                        <a href="#">Пункт 04</a>
                    </li>
                    <li class="footer__point-list__item">
                        <a href="#">Пункт 05</a>
                    </li>
                    <li class="footer__point-list__item">
                        <a href="#">Пункт 06</a>
                    </li>
                    <li class="footer__point-list__item">
                        <a href="#">Пункт 07</a>
                    </li>
                    <li class="footer__point-list__item">
                        <a href="#">Пункт 08</a>
                    </li>
                    <li class="footer__point-list__item">
                        <a href="#">Пункт 09</a>
                    </li>
                    <li class="footer__point-list__item">
                        <a href="#">Пункт 10</a>
                    </li>
                    <li class="footer__point-list__item">
                        <a href="#">Пункт 11</a>
                    </li>
                    <li class="footer__point-list__item">
                        <a href="#">Пункт 12</a>
                    </li>
                    <li class="footer__point-list__item">
                        <a href="#">Пункт 13</a>
                    </li>
                    <li class="footer__point-list__item">
                        <a href="#">Пункт 14</a>
                    </li>
                </ul>
            </div>
            <div class="footer__rate">
                <ul class="footer__rate-list">
                    <li class="footer__rate-list__item">
                        <a href="#">Поисковое продвижение сайтов</a>
                    </li>
                    <li class="footer__rate-list__item">
                        <a href="#">Тариф «Новый»</a>
                    </li>
                    <li class="footer__rate-list__item">
                        <a href="#">Тариф «Новый»</a>
                    </li>
                    <li class="footer__rate-list__item">
                        <a href="#">Тариф «Новый»</a>
                    </li>
                    <li class="footer__rate-list__item">
                        <a href="#">Тариф «Новый»</a>
                    </li>
                    <li class="footer__rate-list__item">
                        <a href="#">Тариф «Новый»</a>
                    </li>
                    <li class="footer__rate-list__item">
                        <a href="#">Тариф «Новый»</a>
                    </li>
                </ul>
            </div>
            <div class="footer__double-block">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css"
/>
<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"
/>
<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script src="js/main.js" ></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=aae97d85-eb01-44e4-bd38-fe0ceaef6c3c&lang=ru_RU" type="text/javascript"></script>
</body>
</html>